/*	BLOCK TEXT CONTENT
/*----------------------------------------------------*/
.block-text-content .header{
	margin: 80px auto;
}
.block-text-content h4 {
	margin-top: 0;
}
.block-text-content .fa {
	font-size: 32px;
	color: #16A085;
}

/*	BLOCK TEXT
/*----------------------------------------------------*/
.block-text{
	min-height: 65vh;
	line-height: 65vh;
	display: table;
}
.v-fill {
	display:table-cell;
	vertical-align: middle;
}
.v-fill div{}
.block-text .underlined-title h1{
	padding:40px 0;
}
.block-text .underlined-title hr{
	margin:40px auto;
}



/*	mockup images
/*----------------------------------------------------*/
.mockup{

	/* TODO am happy with this but temprarily disable*/
	/*display:none;*/
	margin:80px auto;
	max-height:100%;
}

.shadow{
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}


/*	BLOCK TEXT MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}